/* import Comfortaa font */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: "Comfortaa";
    background-color: tan;
}

#title {
    text-align: center;
    padding-top: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: purple;
    padding-left: 25%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: yellow;
    color: black;
}